[Desktop Entry]
Encoding=UTF-8
Name=Tank
Comment=Tank P2P Cryptocurrency
Exec=tank-qt %u
Terminal=false
Type=Application
Icon=tank128
MimeType=x-scheme-handler/tank;
Categories=Office;Finance;
Name[en_US]=tank-qt.desktop
