# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Snap
tank*.snap
tank_source.tar.bz2
src/crypto/groestl.c
src/crypto/echo.c
src/crypto/cubehash.c
src/crypto/ctaes/test.c
src/crypto/ctaes/README.md
src/crypto/ctaes/ctaes.h
src/crypto/ctaes/ctaes.c
src/crypto/ctaes/COPYING
src/crypto/ctaes/bench.c
src/crypto/common.h
src/crypto/chacha20.h
src/crypto/chacha20.cpp
src/crypto/bmw.c
src/crypto/blake.c
src/crypto/aes_helper.c
src/crypto/aes.h
src/crypto/aes.cpp
src/core_write.cpp
src/core_read.cpp
src/core_memusage.h
src/core_io.h
src/consensus/validation.h
src/consensus/params.h
src/consensus/merkle.h
src/consensus/merkle.cpp
src/consensus/consensus.h
src/config/tank-config.h
src/compressor.h
src/compressor.cpp
src/compat/strnlen.cpp
src/compat/sanity.h
src/compat/glibcxx_sanity.cpp
src/compat/glibcxx_compat.cpp
src/compat/glibc_sanity.cpp
src/compat/glibc_compat.cpp
src/compat/endian.h
src/compat/byteswap.h
src/compat.h
src/coins.h
src/coins.cpp
src/coincontrol.h
src/clientversion.cpp
src/checkqueue.h
src/checkpoints.h
src/checkpoints.cpp
src/chainparamsseeds.h
src/chainparamsbase.h
src/chainparamsbase.cpp
src/chainparams.cpp
src/chain.h
src/chain.cpp
src/cachemultimap.h
src/cachemap.h
src/bloom.h
src/bloom.cpp
src/bench/Examples.cpp
src/bench/bench_tank.cpp
src/bench/bench.h
src/bench/bench.cpp
src/base58.h
src/base58.cpp
src/arith_uint256.h
src/arith_uint256.cpp
src/amount.h
src/amount.cpp
src/alert.h
src/alert.cpp
src/addrman.h
src/addrman.cpp
src/addressindex.h
src/activemasternode.h
src/activemasternode.cpp
src/.clang-format
snap/snapcraft.yaml
snap/gui/tank-qt.png
share/setup.nsi.in
share/rpcuser/rpcuser.py
share/rpcuser/README.md
share/qt/protobuf.pri
share/qt/Info.plist.in
share/qt/extract_strings_qt.py
share/pixmaps/tank256.png
share/pixmaps/tank128.png
share/genbuild.sh
share/certs/PrivateKeyNotes.md
share/certs/BitcoinFoundation_Comodo_Cert.pem
share/certs/BitcoinFoundation_Apple_Cert.pem
reden-docs/protocol-documentation.md
reden-docs/desktop.ini
README.md
qa/rpc-tests/zmq_test.py
qa/rpc-tests/zapwallettxes.py
qa/rpc-tests/walletbackup.py
qa/rpc-tests/wallet.py
qa/rpc-tests/txn_doublespend.py
qa/rpc-tests/txn_clone.py
qa/rpc-tests/txindex.py
qa/rpc-tests/timestampindex.py
qa/rpc-tests/test_framework/util.py
qa/rpc-tests/test_framework/test_framework.py
qa/rpc-tests/test_framework/socks5.py
qa/rpc-tests/test_framework/script.py
qa/rpc-tests/test_framework/netutil.py
qa/rpc-tests/test_framework/mininode.py
qa/rpc-tests/test_framework/key.py
qa/rpc-tests/test_framework/coverage.py
qa/rpc-tests/test_framework/comptool.py
qa/rpc-tests/test_framework/blocktools.py
qa/rpc-tests/test_framework/blockstore.py
qa/rpc-tests/test_framework/bignum.py
qa/rpc-tests/test_framework/authproxy.py
qa/rpc-tests/spentindex.py
qa/rpc-tests/smartfees.py
qa/rpc-tests/signrawtransactions.py
qa/rpc-tests/sendheaders.py
qa/rpc-tests/rpcbind_test.py
qa/rpc-tests/rest.py
qa/rpc-tests/replace-by-fee.py
qa/rpc-tests/reindex.py
qa/rpc-tests/receivedby.py
qa/rpc-tests/README.md
qa/rpc-tests/rawtransactions.py
qa/rpc-tests/pruning.py
qa/rpc-tests/proxy_test.py
qa/rpc-tests/prioritise_transaction.py
qa/rpc-tests/p2p-versionbits-warning.py
qa/rpc-tests/p2p-fullblocktest.py
qa/rpc-tests/p2p-acceptblock.py
qa/rpc-tests/nodehandling.py
qa/rpc-tests/multi_rpc.py
qa/rpc-tests/merkle_blocks.py
qa/rpc-tests/mempool_spendcoinbase.py
qa/rpc-tests/mempool_resurrect_test.py
qa/rpc-tests/mempool_reorg.py
qa/rpc-tests/mempool_packages.py
qa/rpc-tests/mempool_limit.py
qa/rpc-tests/maxuploadtarget.py
qa/rpc-tests/maxblocksinflight.py
qa/rpc-tests/listtransactions.py
qa/rpc-tests/keypool.py
qa/rpc-tests/invalidtxrequest.py
qa/rpc-tests/invalidblockrequest.py
qa/rpc-tests/invalidateblock.py
qa/rpc-tests/httpbasics.py
qa/rpc-tests/getchaintips.py
qa/rpc-tests/getblocktemplate_proposals.py
qa/rpc-tests/getblocktemplate_longpoll.py
qa/rpc-tests/fundrawtransaction.py
qa/rpc-tests/forknotify.py
qa/rpc-tests/disablewallet.py
qa/rpc-tests/decodescript.py
qa/rpc-tests/blockchain.py
qa/rpc-tests/bipdersig.py
qa/rpc-tests/bipdersig-p2p.py
qa/rpc-tests/bip9-softforks.py
qa/rpc-tests/bip68-sequence.py
qa/rpc-tests/bip68-112-113-p2p.py
qa/rpc-tests/bip65-cltv.py
qa/rpc-tests/bip65-cltv-p2p.py
qa/rpc-tests/addressindex.py
qa/rpc-tests/abandonconflict.py
qa/README.md
qa/pull-tester/tests_config.py.in
qa/pull-tester/tests_config.py
qa/pull-tester/run-bitcoind-for-test.sh.in
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/rpc-tests.py
pkg.m4
Makefile.am
LICENSE
libbitcoinconsensus.pc.in
libbitcoinconsensus.pc
INSTALL
doc/zmq.md
doc/unit-tests.md
doc/travis-ci.txt
doc/translation_strings_policy.md
doc/translation_process.md
doc/tor.md
doc/shared-libraries.md
doc/REST-interface.md
doc/release-process.md
doc/release-notes/reden/release-notes-1.0.0.md
doc/release-notes/reden/desktop.ini
doc/release-notes/bitcoin/release-notes-0.9.5.md
doc/release-notes/bitcoin/release-notes-0.9.4.md
doc/release-notes/bitcoin/release-notes-0.9.3.md
doc/release-notes/bitcoin/release-notes-0.9.2.md
doc/release-notes/bitcoin/release-notes-0.9.2.1.md
doc/release-notes/bitcoin/release-notes-0.9.1.md
doc/release-notes/bitcoin/release-notes-0.8.6.md
doc/release-notes/bitcoin/release-notes-0.8.5.md
doc/release-notes/bitcoin/release-notes-0.8.4.md
doc/release-notes/bitcoin/release-notes-0.8.3.md
doc/release-notes/bitcoin/release-notes-0.8.2.md
doc/release-notes/bitcoin/release-notes-0.8.1.md
doc/release-notes/bitcoin/release-notes-0.8.0.md
doc/release-notes/bitcoin/release-notes-0.7.2.md
doc/release-notes/bitcoin/release-notes-0.7.1.md
doc/release-notes/bitcoin/release-notes-0.7.0.md
doc/release-notes/bitcoin/release-notes-0.6.3.md
doc/release-notes/bitcoin/release-notes-0.6.2.md
doc/release-notes/bitcoin/release-notes-0.6.1.md
doc/release-notes/bitcoin/release-notes-0.6.0.md
doc/release-notes/bitcoin/release-notes-0.5.5.md
doc/release-notes/bitcoin/release-notes-0.5.4.md
doc/release-notes/bitcoin/release-notes-0.5.3.md
doc/release-notes/bitcoin/release-notes-0.5.2.md
doc/release-notes/bitcoin/release-notes-0.5.1.md
doc/release-notes/bitcoin/release-notes-0.5.0.md
doc/release-notes/bitcoin/release-notes-0.4.6.md
doc/release-notes/bitcoin/release-notes-0.4.5.md
doc/release-notes/bitcoin/release-notes-0.4.4.md
doc/release-notes/bitcoin/release-notes-0.4.3.md
doc/release-notes/bitcoin/release-notes-0.4.2.md
doc/release-notes/bitcoin/release-notes-0.4.1.md
doc/release-notes/bitcoin/release-notes-0.4.0.md
doc/release-notes/bitcoin/release-notes-0.3.24.md
doc/release-notes/bitcoin/release-notes-0.3.23.md
doc/release-notes/bitcoin/release-notes-0.3.22.md
doc/release-notes/bitcoin/release-notes-0.3.21.md
doc/release-notes/bitcoin/release-notes-0.3.20.md
doc/release-notes/bitcoin/release-notes-0.3.20.2.md
doc/release-notes/bitcoin/release-notes-0.3.20.1.md
doc/release-notes/bitcoin/release-notes-0.3.19.md
doc/release-notes/bitcoin/release-notes-0.3.18.md
doc/release-notes/bitcoin/release-notes-0.3.17.md
doc/release-notes/bitcoin/release-notes-0.3.16.md
doc/release-notes/bitcoin/release-notes-0.3.15.md
doc/release-notes/bitcoin/release-notes-0.3.14.md
doc/release-notes/bitcoin/release-notes-0.3.13.md
doc/release-notes/bitcoin/release-notes-0.3.12.md
doc/release-notes/bitcoin/release-notes-0.11.1.md
doc/release-notes/bitcoin/release-notes-0.11.0.md
doc/release-notes/bitcoin/release-notes-0.10.3.md
doc/release-notes/bitcoin/release-notes-0.10.2.md
doc/release-notes/bitcoin/release-notes-0.10.1.md
doc/release-notes/bitcoin/release-notes-0.10.0.md
doc/release-notes.md
doc/reduce-traffic.md
doc/README_windows.txt
doc/README_osx.txt
doc/README.md
doc/multiwallet-qt.md
doc/masternode_conf.md
doc/masternode-budget.md
doc/keepass.md
doc/instantsend.md
doc/init.md
doc/guide-startmany.md
doc/gitian-building.md
doc/files.md
doc/Doxyfile
doc/dnsseed-policy.md
doc/developer-notes.md
doc/build-windows.md
doc/build-unix.md
doc/build-osx.md
doc/build-openbsd.md
doc/bips.md
doc/assets-attribution.md
depends/README.md
depends/patches/zeromq/0001-fix-build-with-older-mingw64.patch
depends/patches/qt46/stlfix.patch
depends/patches/qt/pidlist_absolute.patch
depends/patches/qt/mingw-uuidof.patch
depends/patches/qt/mac-qmake.conf
depends/patches/qt/fix_qt_pkgconfig.patch
depends/patches/qt/fix-xcb-include-order.patch
depends/patches/native_mac_alias/python3.patch
depends/patches/native_cdrkit/cdrkit-deterministic.patch
depends/patches/native_biplist/sorted_list.patch
depends/patches/boost/gcc_5_no_cxx11.patch
depends/patches/boost/darwin_boost_atomic-2.patch
depends/patches/boost/darwin_boost_atomic-1.patch
depends/packages/zlib.mk
depends/packages/zeromq.mk
depends/packages/xtrans.mk
depends/packages/xproto.mk
depends/packages/xextproto.mk
depends/packages/xcb_proto.mk
depends/packages/qt46.mk
depends/packages/qt.mk
depends/packages/qrencode.mk
depends/packages/protobuf.mk
depends/packages/packages.mk
depends/packages/openssl.mk
depends/packages/native_protobuf.mk
depends/packages/native_mac_alias.mk
depends/packages/native_libdmg-hfsplus.mk
depends/packages/native_ds_store.mk
depends/packages/native_comparisontool.mk
depends/packages/native_cdrkit.mk
depends/packages/native_cctools.mk
depends/packages/native_ccache.mk
depends/packages/native_biplist.mk
depends/packages/miniupnpc.mk
depends/packages/libXext.mk
depends/packages/libxcb.mk
depends/packages/libXau.mk
depends/packages/libX11.mk
depends/packages/libSM.mk
depends/packages/libICE.mk
depends/packages/libevent.mk
depends/packages/freetype.mk
depends/packages/fontconfig.mk
depends/packages/expat.mk
depends/packages/dbus.mk
depends/packages/boost.mk
depends/packages/bdb.mk
depends/packages.md
depends/Makefile
depends/hosts/mingw32.mk
depends/hosts/linux.mk
depends/hosts/default.mk
depends/hosts/darwin.mk
depends/funcs.mk
depends/description.md
depends/config.sub
depends/config.site.in
depends/config.guess
depends/builders/linux.mk
depends/builders/default.mk
depends/builders/darwin.mk
COPYING
CONTRIBUTING.md
contrib/zmq/zmq_sub.py
contrib/verifysfbinaries/verify.sh
contrib/verifysfbinaries/README.md
contrib/verify-commits/verify-commits.sh
contrib/verify-commits/trusted-keys
contrib/verify-commits/trusted-git-root
contrib/verify-commits/pre-push-hook.sh
contrib/verify-commits/gpg.sh
contrib/verify-commits/allow-revsig-commits
contrib/tidy_datadir.sh
contrib/testgen/README.md
contrib/testgen/gen_base58_test_vectors.py
contrib/testgen/base58.py
contrib/tankd.bash-completion
contrib/tank-qt.pro
contrib/spendfrom/spendfrom.py
contrib/spendfrom/setup.py
contrib/spendfrom/README.md
contrib/seeds/seeds_main.txt
contrib/seeds/README.md
contrib/seeds/makeseeds.py
contrib/seeds/generate-seeds.py
contrib/README.md
contrib/qt_translations.py
contrib/qos/tc.sh
contrib/qos/README.md
contrib/macdeploy/README.md
contrib/macdeploy/macdeployqtplus
contrib/macdeploy/LICENSE
contrib/macdeploy/fancy.plist
contrib/macdeploy/detached-sig-create.sh
contrib/macdeploy/detached-sig-apply.sh
contrib/macdeploy/Base.lproj/InfoPlist.strings
contrib/linearize/README.md
contrib/linearize/linearize-hashes.py
contrib/linearize/linearize-data.py
contrib/linearize/example-linearize.cfg
contrib/linearize/example-linearize-testnet.cfg
contrib/init/tankd.service
contrib/init/tankd.openrcconf
contrib/init/tankd.openrc
contrib/init/tankd.init
contrib/init/tankd.conf
contrib/init/README.md
contrib/init/org.tank.tankd.plist
contrib/gitian-downloader/wtogami-key.pgp
contrib/gitian-downloader/prab-key.pgp
contrib/gitian-downloader/petertodd-key.pgp
contrib/gitian-downloader/michagogo-key.pgp
contrib/gitian-downloader/laanwj-key.pgp
contrib/gitian-downloader/jonasschnelli-key.pgp
contrib/gitian-downloader/fanquake-key.pgp
contrib/gitian-downloader/cfields-key.pgp
contrib/gitian-downloader/centaur1-key.pgp
contrib/gitian-downloader/btcdrak-key.pgp
contrib/gitian-descriptors/README.md
contrib/gitian-descriptors/gitian-win.yml
contrib/gitian-descriptors/gitian-win-signer.yml
contrib/gitian-descriptors/gitian-rpi2.yml
contrib/gitian-descriptors/gitian-osx.yml
contrib/gitian-descriptors/gitian-osx-signer.yml
contrib/gitian-descriptors/gitian-linux.yml
contrib/devtools/update-translations.py
contrib/devtools/test-security-check.py
contrib/devtools/symbol-check.py
contrib/devtools/security-check.py
contrib/devtools/README.md
contrib/devtools/optimize-pngs.py
contrib/devtools/github-merge.sh
contrib/devtools/git-subtree-check.sh
contrib/devtools/fix-copyright-headers.py
contrib/devtools/clang-format.py
contrib/debian/watch
contrib/debian/tankd.manpages
contrib/debian/tankd.lintian-overrides
contrib/debian/tankd.install
contrib/debian/tankd.examples
contrib/debian/tankd.bash-completion
contrib/debian/tank-tx.install
contrib/debian/tank-qt.protocol
contrib/debian/tank-qt.lintian-overrides
contrib/debian/tank-qt.install
contrib/debian/tank-qt.desktop.desktop
contrib/debian/source/format
contrib/debian/rules
contrib/debian/README.md
contrib/debian/patches/series
contrib/debian/patches/README
contrib/debian/manpages/tankd.1
contrib/debian/manpages/tank.conf.5
contrib/debian/manpages/tank-qt.1
contrib/debian/manpages/tank-cli.1
contrib/debian/gbp.conf
contrib/debian/examples/tank.conf
contrib/debian/copyright
contrib/debian/control
contrib/debian/compat
contrib/debian/changelog
build-aux/test-driver
build-aux/missing
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltversion.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltoptions.m4
build-aux/m4/libtool.m4
build-aux/m4/l_atomic.m4
build-aux/m4/bitcoin_subdir_to_include.m4
build-aux/m4/bitcoin_qt.m4
build-aux/m4/bitcoin_find_bdb48.m4
build-aux/m4/ax_pthread.m4
build-aux/m4/ax_gcc_func_attribute.m4
build-aux/m4/ax_cxx_compile_stdcxx.m4
build-aux/m4/ax_check_preproc_flag.m4
build-aux/m4/ax_check_link_flag.m4
build-aux/m4/ax_check_compile_flag.m4
build-aux/m4/ax_boost_unit_test_framework.m4
build-aux/m4/ax_boost_thread.m4
build-aux/m4/ax_boost_system.m4
build-aux/m4/ax_boost_program_options.m4
build-aux/m4/ax_boost_filesystem.m4
build-aux/m4/ax_boost_chrono.m4
build-aux/m4/ax_boost_base.m4
build-aux/ltmain.sh
build-aux/install-sh
build-aux/depcomp
build-aux/config.sub
build-aux/config.guess
build-aux/compile
BITCOIN_TALK_ANNOUNCEMENT.txt
autogen.sh
.travis.yml
.settings/org.eclipse.core.resources.prefs
.project
.gitattributes
.cproject
.cproject
.gitattributes
