[Unit]
Description=Tank's distributed currency daemon
After=network.target

[Service]
User=tankcore
Group=tankcore

Type=forking
PIDFile=/var/lib/tankd/tankd.pid
ExecStart=/usr/bin/tankd -daemon -pid=/var/lib/tankd/tankd.pid \
-conf=/etc/tankcore/tank.conf -datadir=/var/lib/tankd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
